@{
  Layout="Shared/_Layout.cshtml";
}

<h4>First name: @Model.GetFirstName()</h4>
<h4>Last name: @Model.GetLastName()</h4>
<h4>Address: @Model.GetAddress()</h4>
<h4>Phone number: @Model.GetPhone()</h4>

<a href="/">Return Home</a>
